<body>
<p>This is a Java library built on top of <a href="http://martiansoftware.com/jsap/">Java Simple Argument Parser (JSAP)</a> that allows the use of a default "configuration file" using the --config-file option.</p>
<p>This package makes it easy for one to implement a configuration file system that combines the flexibility of the command line and persistence of an actual configuration file.</p>
<p>See the main class {@link edu.cmu.cs.ark.yc.config.AppConfig} and {@link com.martiansoftware.jsap.JSAP} for more information on using it. There is also a {@link edu.cmu.cs.ark.yc.config.DemoApp} included.</p>

<h2>License</h2> yc-config is licensed under the Lesser GNU Public License. A copy of this license is available at <a href="http://www.gnu.org/licenses/lgpl.html">http://www.gnu.org/licenses/lgpl.html</a>.
</body>